<div class="flex flex-col min-h-screen">
  <div class="absolute inset-0 home-background">
    <!-- Capa de difuminado oscuro -->
    <div class="absolute inset-0 bg-black bg-opacity-75 z-0"></div>
  </div>

  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Contenedor Principal -->
  <main class="flex-1 items-center justify-center pt-4 px-4 mt-16">
    <!-- Contenedor para las páginas con un máximo de 1200px de ancho -->
    <div class="mx-auto px-4">
      <!-- Aquí se renderizarán los componentes -->
      <router-outlet></router-outlet>
    </div>
  </main>

  <!-- Footer en móviles y tablets -->
  <app-footer></app-footer>
</div>
