<div class="flex flex-col items-center justify-center max-w-7xl mx-auto py-8">
  <!-- Contenido principal -->
  <div class="grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
    <!-- Imagen + Texto (oculto en móviles) -->
    <div class="flex flex-col items-start justify-center max-w-md mx-auto md:mx-0">
      <img src="assets/images/contact.webp" alt="Contacto" class="w-full h-auto object-contain mb-4">
      <p class="text-slate-400 dark:text-slate-300 text-base leading-relaxed">
        {{ 'contacto.descripcion' | translate }}
      </p>
    </div>

    <!-- Formulario -->
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()"
      class="w-full p-6 bg-white/5 dark:bg-gray-800/30 text-white rounded-3xl shadow-xl border border-gray-700 backdrop-blur-md">

      <h2 class="text-3xl lg:text-4xl font-bold text-center text-white dark:text-yellow-500 mb-2">
        {{ 'contacto.titulo' | translate }}
      </h2>

      <!-- Campo Nombre -->
      <div class="mb-2">
        <label class="block text-sm font-semibold mb-1 text-gray-300">
          {{ 'contacto.nombre' | translate }}
        </label>
        <input type="text" formControlName="nombre"
          class="w-full p-3 rounded-lg bg-gray-700 text-white placeholder-gray-400 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-600 dark:focus:ring-yellow-500"
          [placeholder]="'contacto.placeholder.NAME_PLACEHOLDER'| translate" />
          <small class="block min-h-[1.25rem] text-sm mt-1 transition-all duration-300"
              [ngClass]="{ 'text-red-400': nombre.invalid && (nombre.dirty || nombre.touched), 'invisible': !(nombre.invalid && (nombre.dirty || nombre.touched)) }">
            {{ nombre.invalid && (nombre.dirty || nombre.touched) ? ('contacto.validacion.ERROR_NAME' | translate) : '' }}
          </small>
      </div>

      <!-- Campo Email -->
      <div class="mb-2">
        <label class="block text-sm font-semibold mb-1 text-gray-300">
          {{ 'contacto.email' | translate }}
        </label>
        <input type="email" formControlName="email"
          class="w-full p-3 rounded-lg bg-gray-700 text-white placeholder-gray-400 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-600 dark:focus:ring-yellow-500"
          [placeholder]="'contacto.placeholder.EMAIL_PLACEHOLDER'| translate" />
        <small class="block min-h-[1.25rem] text-sm mt-1 transition-all duration-300"
            [ngClass]="{ 'text-red-400': email.invalid && (email.dirty || email.touched), 'invisible': !(email.invalid && (email.dirty || email.touched)) }">
          {{ email.errors?.['emailInvalid'] ? ('contacto.validacion.ERROR_EMAIL.invalid' | translate) : '' }}
        </small>
      </div>

      <!-- Campo Mensaje -->
      <div class="mb-5">
        <label class="block text-sm font-semibold mb-1 text-gray-300">{{ 'contacto.mensaje' | translate }}</label>
        <textarea rows="4" formControlName="mensaje"
          class="w-full p-3 rounded-lg bg-gray-700 text-white placeholder-gray-400 border border-gray-600 focus:outline-none focus:ring-2 focus:ring-indigo-600 dark:focus:ring-yellow-500"
          [placeholder]="'contacto.placeholder.MESSAGE_PLACEHOLDER'| translate"></textarea>
          <div class="min-h-[1.25rem] transition-all duration-300">
            <ng-container *ngIf="mensaje?.errors && (mensaje.dirty || mensaje.touched)">
              <small *ngIf="mensaje.errors?.['required']" class="flex items-start text-sm text-red-400 space-x-1">
                {{ 'contacto.validacion.ERROR_MESSAGE.required' | translate }}
              </small>

              <small *ngIf="!mensaje.errors?.['required'] && mensaje.errors?.['whitespace']" class="flex items-start text-sm text-red-400 space-x-1">
                {{ 'contacto.validacion.ERROR_MESSAGE.whitespace' | translate }}
              </small>

              <small *ngIf="!mensaje.errors?.['required'] && !mensaje.errors?.['whitespace'] && mensaje.errors?.['minLength']" class="flex items-start text-sm text-red-400 space-x-1">
                {{ 'contacto.validacion.ERROR_MESSAGE.minlength' | translate }}
              </small>

              <small *ngIf="!mensaje.errors?.['required'] && !mensaje.errors?.['whitespace'] && !mensaje.errors?.['minLength'] && mensaje.errors?.['maxLength']" class="flex items-start text-sm text-red-400 space-x-1">
                {{ 'contacto.validacion.ERROR_MESSAGE.maxlength' | translate }}
              </small>

              <small *ngIf="!mensaje.errors?.['required'] && !mensaje.errors?.['whitespace'] && !mensaje.errors?.['minLength'] && !mensaje.errors?.['maxLength'] && mensaje.errors?.['pattern']" class="flex items-start text-sm text-red-400 space-x-1">
                {{ 'contacto.validacion.ERROR_MESSAGE.sqlInjection' | translate }}
              </small>

              <small *ngIf="!mensaje.errors?.['required'] && !mensaje.errors?.['whitespace'] && !mensaje.errors?.['minLength'] && !mensaje.errors?.['maxLength'] && !mensaje.errors?.['pattern'] && mensaje.errors?.['xss']" class="flex items-start text-sm text-red-400 space-x-1">
                {{ 'contacto.validacion.ERROR_MESSAGE.xss' | translate }}
              </small>
            </ng-container>
          </div>
      </div>

      <!-- Botón Enviar -->
      <button [disabled]="contactForm.invalid || isSubmitting" type="button" (click)="onSubmit()"
        class="bg-indigo-600 hover:bg-indigo-500 dark:bg-yellow-600 dark:hover:bg-yellow-600/80 text-slate-200 font-bold py-3 px-4 rounded-lg w-full transition-all duration-300 disabled:opacity-50 disabled:cursor-not-allowed">
        <ng-container *ngIf="!isSubmitting && !isSubmitted">
          <fa-icon [icon]="iconPlane" class="mr-1"></fa-icon>
          {{ 'contacto.estadoMensaje.enviar' | translate }}
        </ng-container>

        <ng-container *ngIf="isSubmitting">
          <fa-icon [icon]="iconPlane" class="animate-fly text-white mr-1"></fa-icon>
          {{ 'contacto.estadoMensaje.enviando' | translate }}
        </ng-container>

        <ng-container *ngIf="isSubmitted">
          <fa-icon [icon]="iconSuccess" class="text-green-500 animate-bounce mr-1"></fa-icon>
          {{ 'contacto.estadoMensaje.enviado' | translate }}
        </ng-container>
      </button>

    </form>
  </div>
</div>
