<div class="contenedor mb-16 flex min-h-[calc(70vh-20px)] flex-col items-center xl:px-20 2xl:px-32">
  <div class="flex w-full flex-col items-center lg:max-w-screen-lg">
    <!-- Título -->
    <h2
      class="mb-4 flex flex-wrap items-center justify-center gap-2 text-center text-4xl font-bold text-gray-100 transition-colors dark:text-yellow-500"
    >
      <fa-icon [icon]="iconUser" class="mr-2 text-4xl"></fa-icon> {{ 'about.title' | translate }}
    </h2>

    <!-- Contenido principal -->
    <div class="mb-10 mt-8 grid w-full grid-cols-1 items-start gap-6 md:grid-cols-2">
      <!-- Imagen -->
      <div class="flex justify-center">
        <img
          ngSrc="assets/images/programming.svg"
          width="787"
          height="572"
          priority
          alt="Programming"
          class="h-auto w-full max-w-md object-contain"
        />
      </div>

      <!-- Texto -->
      <div class="min-h-[400px] space-y-4 break-words text-left">
        <span
          class="flex-wrap items-center gap-2 text-justify text-base font-semibold text-slate-100 dark:text-yellow-500 lg:text-lg"
        >
          <fa-icon [icon]="iconLaptop" size="lg" class="mr-1"></fa-icon>
          {{ 'about.greeting' | translate }}
        </span>

        <p class="text-sm leading-relaxed text-slate-300 dark:text-slate-300 md:text-base">
          {{ 'about.description1' | translate }}
        </p>
        <p class="text-sm leading-relaxed text-slate-300 dark:text-slate-300 md:text-base">
          {{ 'about.description2' | translate }}
        </p>
        <p class="text-sm leading-relaxed text-slate-300 dark:text-slate-300 md:text-base">
          {{ 'about.description3' | translate }}
        </p>
        <p class="text-sm leading-relaxed text-slate-300 dark:text-slate-300 md:text-base">
          {{ 'about.description4' | translate }}
        </p>

        <!-- Botón para descargar el CV -->
        <div class="mt-6 flex justify-center lg:justify-start">
          <a
            href="assets/cv/WilianMorales_CV.pdf"
            target="_blank"
            class="inline-flex items-center whitespace-nowrap rounded-3xl border border-gray-800 bg-indigo-600 px-5 py-2 text-gray-200 transition hover:bg-indigo-500 hover:text-white dark:bg-yellow-600 dark:text-gray-200 dark:hover:bg-yellow-600/80 dark:hover:text-gray-200"
          >
            <span>{{ 'about.download_cv' | translate }}</span>
            <fa-icon [icon]="iconFileDown" class="ml-3"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="flex w-full flex-col items-center justify-center">
    <app-resumen class="w-full" />
  </div>
</div>
