<div class="flex flex-col">
  <div class="flex-1 container mx-auto px-4 pt-20 pb-10 md:pb-20">
    <!-- Título -->
    <h2 class="text-4xl font-bold text-center text-white dark:text-yellow-500">
      {{ 'about.title' | translate }}
    </h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-8 items-center px-4">
      <!-- Imagen -->
      <div class="flex justify-center">
        <img src="assets/images/programming.svg" alt="Programming" class="w-full max-w-md h-auto object-cover">
      </div>

      <!-- Texto -->
      <div class="text-left ">
        <span class="text-xs lg:text-lg text-justify font-semibold text-gray-200 dark:text-yellow-500">
          <fa-icon [icon]="iconLaptop" size="lg" class="mr-1"></fa-icon> {{ 'about.greeting' | translate }}
        </span>

        <p class="mt-4 text-gray-300 dark:text-gray-300">
          {{ 'about.description1' | translate }}
        </p>
        <p class="mt-2 text-gray-300 dark:text-gray-300">
          {{ 'about.description2' | translate }}
        </p>
        <p class="mt-2 text-gray-300 dark:text-gray-300">
          {{ 'about.description3' | translate }}
        </p>
        <p class="mt-2 text-gray-300 dark:text-gray-300">
          {{ 'about.description4' | translate }}
        </p>

        <!-- Botón para descargar el CV -->
        <div class="mt-6 flex justify-center lg:justify-start">
          <a href="assets/cv/CURRICULO_VITAL.pdf"
            class="inline-flex items-center px-5 py-2 border border-gray-200 dark:border-yellow-600 rounded-3xl text-gray-200 dark:text-gray-200 hover:bg-gray-800 dark:hover:bg-yellow-600 hover:text-white dark:hover:text-gray-200 transition">
            <span>{{ 'about.download_cv' | translate }}</span>
            <fa-icon [icon]="iconFileDown" class="ml-3"></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
